.main-sec{
 
    height: auto;
   
    
}
.navbar {
   height: 80px;
background-color: transparent;

}
.navbar-brand{
    margin-left: 100px;
}
.nav-link{
    margin-left: 20px;
    font-size: 16px;
    color:white;
}
.btn1{
    margin-left: 140px;
    width: 150px;
}
.btn2{
    width: 150px;
}
.card-img{
    filter: blur(3px);
}
.card-img2{
    filter: blur(8px);
}
.home-middle{
    margin-left: 110px;
    margin-top: 170px;
    width: 500px;
   
}


.card-id{
    margin-left: 100px;
    margin-top: 100px;
    height: 480px;
}
.middle-div-1{
    margin-left: 100px;
    font-size: 15px;
    
    padding: 50px;
    width: 1470px;
}
.middle-pic{
    height: 500px;
}
.middle-div-2{
   
    
    width: 1600px;
}
.pic-1{
    margin-left: 200px;
    margin-top: 140px;
    width: 500px;
  
}
.box{
    padding: 50px 30px;
    box-shadow: 0px 2px 15px rgba(0,0,0,0.1);
    transition: all ease-in-out 0.3s;
    background: #1a1814;
    color: bisque;
    margin-left: 30px;
    margin-top: 60px;
}
 .box:hover{
   background-color:rgb(203, 140, 12);
 }
 .line-sec{
    background: #1a1814;
    
 }

 .images{
    width: 70px;
    height: 70px;
 }
 .hover:hover{
    color:#cda45e;
    text-underline-position: below;
 }
 .specials{
    width: 300px;
    height: 300px;
   margin-top: 100px;
    margin-left: 100px;
   
 }
.speciall{
    height: 60px;
    background-color:#cda45e; ;
}
.food{
    margin-top: 100px;
}
.pic-special{
    width: 340px;
    height: 340px;
    margin-right: 40px;
}
.sppecial{
    height: 100px;
    width: 500px;
}
.ps-0{
  

    margin-top: 60px;
}
.caro{
    width: 600px;
    height: 500px;
}
.caro-pic{
    width: 600px;

    margin-left: 90px;
}
.carousel-caption{
    margin-bottom: px;
    width: 600px;
    height: 500px;
  
    margin-left: 480px;
    text-align: start;
}
.input{
    width: 370px;
    background-color: #060605;
    color: gray;
    height: 60px;
    font-size: 20px;
    padding: 20px;
    
   
}
 .message{
    width:1260px;
    height: 150px;
    margin-left: 120px;
    background-color: #060605;
    color: gray;
  
    font-size: 20px;
    padding: 20px;
}
.book-btn{
margin-left: 700px;
width: 160px;
margin-top: 40px;
height: 50px;
font-size: 20px;
color:white;
}
.about-us{
    background-color: #1a1814;
}
.aboutus{
    width: 1200px;
    height: 400px;
    background-color: #1a1814;
    margin-left: 160px;
}
.comma{
    width: 30px;
    height: 30px;
}
.testi{
    margin-left: 120px;
}
.card{
    background-color: #261e0f;
}

.block{
    width: 400px;
    height: 300px;
    
}

.block1{
    width: 400px;
    height: 300px;
   
}
.chef-sec{
    height: 700px
}
.block3{
    width: 400px;
    height: 300px;
    margin-left: 80px;
    
}
iframe{
    width: 100%;
    height: 400px;
    margin-top: 40px;
}