/* main-section */
.main-sec{
 
    height: auto; 
}
.frontstyle{
    font-style: oblique;
   


 }
/* Navbar section */
.navbar {
   height: 80px;
background-color: transparent;




}
.card-img{
    filter: blur(3px);
}
.navbar-brand{
    margin-left: 100px;
}
.nav-link{
    margin-left: 20px;
    font-size: 16px;
    color:white;
}
.btn1{
    margin-left: 140px;
    width: 150px;
}
/* Main Walpaper */
.btn2{
    width: 150px;
}
.pic-1{
    margin-left: 200px;
    margin-top: 140px;
    width: 500px;
  
}

.home-middle{
    margin-left: 110px;
    margin-top: 170px;
    width: 500px;
   
}


.card-id{
    margin-left: 100px;
    margin-top: 100px;
    height: 480px;
}
/* About section */
.card-img2{
    filter: blur(8px);
}
.middle-div-1{
    margin-left: 100px;
    font-size: 15px;
    
    padding: 50px;
    width: 1470px;
}
.middle-pic{
    height: 500px;
}
.middle-div-2{
   
    
    width: 1600px;
}
/* why us section */
.box{
    padding: 50px 30px;
    box-shadow: 0px 2px 15px rgba(0,0,0,0.1);
   
    background: #1a1814;
    color: bisque;
    margin-left: 30px;
    margin-top: 60px;
}
 .box:hover{
   background-color:rgb(203, 140, 12);
   color: #060605;
 }
 /* Menu Section */
 .line-sec{
    background: #1a1814;
 

    
 }

 .images{
    width: 70px;
    height: 70px;
 }
 .hover:hover{
    color:#cda45e;
    text-underline-position: below;
 }
 /* Special Section */

 .specials{
    width: 300px;
    height: 300px;
   margin-top: 100px;
    margin-left: 100px;
   
 }

.food{
    margin-top: 100px;
}
.pic-special{
    width: 340px;
    height: 340px;
    margin-right: 40px;
}
.sppecial{
    height: 100px;
    width: 500px;
}
.ps-0{
  

    margin-top: 60px;
}
/* Event Section */
.caro{
    width: 600px;
    height: 500px;
}
.caro-pic{
    width: 600px;

    margin-left: 90px;
}
.carousel-caption{
    margin-bottom: px;
    width: 600px;
    height: 500px;
  
    margin-left: 480px;
    text-align: start;
}
/* Book A Table */

.input{
    width: 370px;
    background-color: #060605;
    color: gray;
    height: 60px;
    font-size: 20px;
    padding: 20px;
    
   
}
 .message{
    width:1260px;
    height: 150px;
    margin-left: 120px;
    background-color: #060605;
    color: gray;
  
    font-size: 20px;
    padding: 20px;
}
.book-btn{
margin-left: 700px;
width: 160px;
margin-top: 40px;
height: 50px;
font-size: 20px;
color:white;
}
/* Testimonilas Slider */
.about-us{
    background-color: #1a1814;
}
.aboutus{
    width: 1200px;
    height: 400px;
    background-color: #1a1814;
    margin-left: 160px;
}
.comma{
    width: 30px;
    height: 30px;
}
.testi{
    margin-left: 120px;
}
.card{
    background-color: #261e0f;
}
/* Gellary section */
.block{
    width: 400px;
    height: 300px;
    
}
.transform{
    transition: width 2s,height 4s;
}
.transform .block:hover{
    width: 450px;
    height: 450px;
}


.block1{
    width: 400px;
    height: 300px;
   
}
.chef-sec{
    height: 700px
}
/* Chef-sec with hover */
.container {
    position: relative;
    width: 25%;
   
    
  }
  #margin{
    margin-left: 120px;
  }
  #margin2{
    margin-left: -20px;
  }
  #margin3{
    margin-left: -20px;
  }
  #space1{
    margin-left: 10px;
  }
  #space2{
    margin-left: -50px;
  }
  #space3{
    margin-left: -50px;
  }
  
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align:center;
  }
  
  .container:hover .image {
    opacity: 0.5;

  }
  
  .container:hover .middle {
    opacity: 1;
 
    
  }
  
  .text {
  
    color:aliceblue;
    font-size: 20px;
    padding: 16px 32px;
  }
/* location sec */
iframe{
    width: 100%;
    height: 400px;
    margin-top: 40px;
}

.location{
    margin-left: 110px;
}
/* contact sec form */
.location-sec {
background-color: #1a1814;
}
.input1{
    width: 390px;
    background-color: #060605;
    color: gray;
    height: 50px;
    font-size: 20px;
    padding: 20px;
    
   
}
.icon{
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
   
}
 .message1{
    width:800px;
    height: 150px;
    margin-left: 120px;
    background-color: #060605;
    color: gray;
  
    font-size: 20px;
    padding: 20px;
}
.book-btn1{
    margin-left: 480px;
    width: 160px;
    margin-top: 40px;
    height: 50px;
    font-size: 16px;
    color:white;
    padding: 10px;
    margin-bottom: 30px;
    }
    .input2{
        width: 800px;
        background-color: #060605;
        color: gray;
        height: 50px;
        font-size: 20px;
        padding: 20px;
        margin-left: 120px;
        
    }
    /* last-one-section */
    .ico{
        width: 25px;
        height: 25px;
    }
  
    .btn-input2{
        width: 320px;
        height: 50px;
        margin-right: 100px;
        font-size: 20px;
        background-color: #261e0f;
    }
    .last-btn{
        width: 150px;
        height: 52px;
        color: white;
      
        margin-left: -160px;
        margin-top: 17px;
        font-size: 20px;
     }
     /* footer */
 .footer{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
 }
 























