.main-sec{
 
    height: auto;
   
    
}
.navbar {
   height: 80px;
background-color: transparent;

}
.navbar-brand{
    margin-left: 100px;
}
.nav-link{
    margin-left: 20px;
    font-size: 16px;
    color:white;
}
.btn1{
    margin-left: 140px;
    width: 150px;
}
.btn2{
    width: 150px;
}
.card-img{
    filter: blur(3px);
}
.card-img2{
    filter: blur(8px);
}
.home-middle{
    margin-left: 110px;
    margin-top: 170px;
    width: 500px;
   
}


.card-id{
    margin-left: 100px;
    margin-top: 100px;
    height: 480px;
}
.middle-div-1{
    margin-left: 100px;
    font-size: 15px;
}
.middle-div-2{
    margin-left: 90px;
}
.pic-1{
    margin-left: 200px;
    margin-top: 140px;
    width: 500px;
  
}
.box{
    padding: 50px 30px;
    box-shadow: 0px 2px 15px rgba(0,0,0,0.1);
    transition: all ease-in-out 0.3s;
    background: #1a1814;
    color: bisque;
    margin-left: 30px;
    margin-top: 60px;
}
 .box:hover{
   background-color:rgb(203, 140, 12);
 }
 .line-sec{
    background: #1a1814;
    
 }

 .images{
    width: 70px;
    height: 70px;
 }
 .hover:hover{
    color:#cda45e;
 }
 .specials{
    width: 300px;
    height: 300px;
   margin-top: 100px;
    margin-left: 100px;
   
 }
.speciall{
    height: 60px;
    background-color:#cda45e; ;
}
.food{
    margin-top: 100px;
}
.pic-special{
    width: 340px;
    height: 340px;
    margin-right: 40px;
}
.sppecial{
    height: 100px;
    width: 500px;
}
.ps-0{
    margin-right:;

    margin-top: 60px;
}
.caro{
    width: 600px;
    height: 500px;
}
.caro-pic{
    width: 600px;

    margin-left: 90px;
}
.carousel-caption{
    margin-bottom: px;
    width: 600px;
    height: 500px;
  
    margin-left: 480px;
    text-align: start;
}